.time-container {
    height: 30vh;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6D69;
    color: wheat;
    font-size: 50px;
    border-radius: 100%;
    box-shadow: 4px 9px 23px rgba(253, 67, 67, 0.5);
}

.time {
    /* margin-left: 150; */
    font-family: “Roboto”, sans-serif;
    /* height: 100%; */
    text-align: justify;
}
.timer-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}